In [ ]:
# Exploração de sumário inicial
library(MASS)
summary(biopsy)
summary(biopsy$class)
nrow(biopsy)
ncol(biopsy)
str(biopsy)

      ID                  V1               V2               V3
 Length:699         Min.   : 1.000   Min.   : 1.000   Min.   : 1.000
 Class :character   1st Qu.: 2.000   1st Qu.: 1.000   1st Qu.: 1.000
 Mode  :character   Median : 4.000   Median : 1.000   Median : 1.000
                    Mean   : 4.418   Mean   : 3.134   Mean   : 3.207
                    3rd Qu.: 6.000   3rd Qu.: 5.000   3rd Qu.: 5.000
                    Max.   :10.000   Max.   :10.000   Max.   :10.000

       V4               V5               V6               V7
 Min.   : 1.000   Min.   : 1.000   Min.   : 1.000   Min.   : 1.000
 1st Qu.: 1.000   1st Qu.: 2.000   1st Qu.: 1.000   1st Qu.: 2.000
 Median : 1.000   Median : 2.000   Median : 1.000   Median : 3.000
 Mean   : 2.807   Mean   : 3.216   Mean   : 3.545   Mean   : 3.438
 3rd Qu.: 4.000   3rd Qu.: 4.000   3rd Qu.: 6.000   3rd Qu.: 5.000
 Max.   :10.000   Max.   :10.000   Max.   :10.000   Max.   :10.000
                                   NA's   :16
       V8               V9               class
 Min.   : 1.000   Min.   : 1.000   benign   :458
 1st Qu.: 1.000   1st Qu.: 1.000   malignant:241
 Median : 1.000   Median : 1.000
 Mean   : 2.867   Mean   : 1.589
 3rd Qu.: 4.000   3rd Qu.: 1.000
 Max.   :10.000   Max.   :10.000

   benign malignant
      458       241

[1] 699

[1] 11

'data.frame':	699 obs. of  11 variables:
 $ ID   : chr  "1000025" "1002945" "1015425" "1016277" ...
 $ V1   : int  5 5 3 6 4 8 1 2 2 4 ...
 $ V2   : int  1 4 1 8 1 10 1 1 1 2 ...
 $ V3   : int  1 4 1 8 1 10 1 2 1 1 ...
 $ V4   : int  1 5 1 1 3 8 1 1 1 1 ...
 $ V5   : int  2 7 2 3 2 7 2 2 2 2 ...
 $ V6   : int  1 10 2 4 1 10 10 1 1 1 ...
 $ V7   : int  3 3 3 3 3 9 3 3 1 2 ...
 $ V8   : int  1 2 1 7 1 7 1 1 1 1 ...
 $ V9   : int  1 1 1 1 1 1 1 1 5 1 ...
 $ class: Factor w/ 2 levels "benign","malignant": 1 1 1 1 1 2 1 1 1 1 ...

In [ ]:
# Identificando NAs

sum(is.na(biopsy))
any(is.na(biopsy$V6))
sum(is.na(biopsy$V6))

[1] 16

[1] TRUE

[1] 16

In [ ]:
# Limpando o dataframe

df_clean <- na.omit(biopsy)
nrow(df_clean)

df_clean$ID <- NULL #drop a coluna ID pois é identificadora


summary(df_clean)

[1] 683

       V1               V2               V3               V4
 Min.   : 1.000   Min.   : 1.000   Min.   : 1.000   Min.   : 1.00
 1st Qu.: 2.000   1st Qu.: 1.000   1st Qu.: 1.000   1st Qu.: 1.00
 Median : 4.000   Median : 1.000   Median : 1.000   Median : 1.00
 Mean   : 4.442   Mean   : 3.151   Mean   : 3.215   Mean   : 2.83
 3rd Qu.: 6.000   3rd Qu.: 5.000   3rd Qu.: 5.000   3rd Qu.: 4.00
 Max.   :10.000   Max.   :10.000   Max.   :10.000   Max.   :10.00
       V5               V6               V7               V8
 Min.   : 1.000   Min.   : 1.000   Min.   : 1.000   Min.   : 1.00
 1st Qu.: 2.000   1st Qu.: 1.000   1st Qu.: 2.000   1st Qu.: 1.00
 Median : 2.000   Median : 1.000   Median : 3.000   Median : 1.00
 Mean   : 3.234   Mean   : 3.545   Mean   : 3.445   Mean   : 2.87
 3rd Qu.: 4.000   3rd Qu.: 6.000   3rd Qu.: 5.000   3rd Qu.: 4.00
 Max.   :10.000   Max.   :10.000   Max.   :10.000   Max.   :10.00
       V9               class
 Min.   : 1.000   benign   :444
 1st Qu.: 1.000   malignant:239
 Median : 1.000
 Mean   : 1.603
 3rd Qu.: 1.000
 Max.   :10.000

In [ ]:
# Loop de execuções

acc = c(1:100)*0
for (i in 1:100) {
    L = sample(1:nrow(df_clean),round(nrow(df_clean)/3))
    train <- df_clean[-L, 1:9] #1 a 9 é V1 - V9
    test <- df_clean[L, 1:9] #1 a 9 é V1 - V9
    cl <- factor(df_clean[-L, 10]) #décima coluna é CLASS -> variável de saída
    fit = knn(train, test, cl, k=12)
    c_matrix = table(fit[1:length(L)], factor(df_clean[L, 10]))
    acc[i] = sum(diag(c_matrix)/sum(c_matrix)*100)
}

mean(acc)

[1] 96.65789

In [ ]:
# Dataframe sem coluna V6
df_clean2 <- df_clean
df_clean2$V6 <- NULL

summary(df_clean2)

       V1               V2               V3               V4
 Min.   : 1.000   Min.   : 1.000   Min.   : 1.000   Min.   : 1.00
 1st Qu.: 2.000   1st Qu.: 1.000   1st Qu.: 1.000   1st Qu.: 1.00
 Median : 4.000   Median : 1.000   Median : 1.000   Median : 1.00
 Mean   : 4.442   Mean   : 3.151   Mean   : 3.215   Mean   : 2.83
 3rd Qu.: 6.000   3rd Qu.: 5.000   3rd Qu.: 5.000   3rd Qu.: 4.00
 Max.   :10.000   Max.   :10.000   Max.   :10.000   Max.   :10.00
       V5               V7               V8              V9
 Min.   : 1.000   Min.   : 1.000   Min.   : 1.00   Min.   : 1.000
 1st Qu.: 2.000   1st Qu.: 2.000   1st Qu.: 1.00   1st Qu.: 1.000
 Median : 2.000   Median : 3.000   Median : 1.00   Median : 1.000
 Mean   : 3.234   Mean   : 3.445   Mean   : 2.87   Mean   : 1.603
 3rd Qu.: 4.000   3rd Qu.: 5.000   3rd Qu.: 4.00   3rd Qu.: 1.000
 Max.   :10.000   Max.   :10.000   Max.   :10.00   Max.   :10.000
       class
 benign   :444
 malignant:239

In [ ]:
# Loop de execuções com novo dataframe

acc = c(1:100)*0
for (i in 1:100) {
    L = sample(1:nrow(df_clean),round(nrow(df_clean)/3))
    train <- df_clean2[-L, 1:8] #1 a 9 é V1 - V9
    test <- df_clean2[L, 1:8] #1 a 9 é V1 - V9
    cl <- factor(df_clean2[-L, 9]) #décima coluna é CLASS -> variável de saída
    fit = knn(train, test, cl, k=12)
    c_matrix = table(fit[1:length(L)], factor(df_clean2[L, 9]))
    acc[i] = sum(diag(c_matrix)/sum(c_matrix)*100)
}

mean(acc)

[1] 96.01316